<div class="container">
  <div class="content">
    <h2>Top Five Travel Destinations</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris luctus eros et lectus aliquam iaculis. Phasellus id
      erat eu sem hendrerit laoreet vel id enim. Pellentesque
      volutpat faucibus sollicitudin. Maecenas quam risus, vehicula
      sit amet maximus sed, lobortis non lacus. Curabitur faucibus
      tincidunt interdum. Mauris nec lacus pharetra, consectetur est
      et, sodales est. Aliquam eget diam sed velit rutrum molestie vel
      porta est. Aenean auctor imperdiet ornare. Ut vehicula luctus
      accumsan. Suspendisse mollis elit turpis, quis vulputate felis
      consequat et. Vestibulum nec leo rhoncus nunc vestibulum viverra
      a in augue. Aliquam laoreet mi ut augue ultrices vestibulum.

      Donec at risus non sem cursus molestie. Sed auctor, enim ut
      ullamcorper semper, sem mi rutrum leo, in fringilla lectus orci eu
      ex. Maecenas auctor feugiat nisl, in finibus mauris blandit a.
      In bibendum congue odio, sit amet ultricies massa rhoncus a.
      Vivamus posuere tempus libero at volutpat. Aliquam euismod nibh
      sit amet dignissim porta. Curabitur pellentesque hendrerit
      tristique. Morbi commodo tempus orci. Curabitur ligula magna,
      dapibus ut elit id, bibendum convallis libero. Nunc massa lorem,
      sagittis in porta in, condimentum mollis felis. Etiam pharetra ac
      justo id finibus. Suspendisse euismod eu ante in porta. Aenean
      consectetur dui ac nunc convallis mollis. Fusce vestibulum est
      vel erat vestibulum vestibulum.
    </p>

    <div class="entry">
      <div class="half">
        <img src="../../../assets/caribbean.jpg">
      </div>
      <div class="half">
          <h3>Caribbean</h3>
          <div class="break"></div>
          <p>
            Donec at risus non sem cursus molestie. Sed auctor, enim ut
            ullamcorper semper, sem mi rutrum leo, in fringilla lectus orci eu
            ex. Maecenas auctor feugiat nisl, in finibus mauris blandit a.
            In bibendum congue odio, sit amet ultricies massa rhoncus a.
            Vivamus posuere tempus libero at volutpat. Aliquam euismod nibh
            sit amet dignissim porta. Curabitur pellentesque hendrerit
            tristique. Morbi commodo tempus orci. Curabitur ligula magna,
            dapibus ut elit id, bibendum convallis libero. Nunc massa lorem,
            sagittis in porta in, condimentum mollis felis. Etiam pharetra ac
            justo id finibus. Suspendisse euismod eu ante in porta. Aenean
            consectetur dui ac nunc convallis mollis. Fusce vestibulum est
            vel erat vestibulum vestibulum.
          </p>
      </div>
    </div>  <!-- Entry 1 End -->

    <div class="entry">
      <div class="half">
          <h3>Greece</h3>
          <div class="break"></div>
          <p>
            Donec at risus non sem cursus molestie. Sed auctor, enim ut
            ullamcorper semper, sem mi rutrum leo, in fringilla lectus orci eu
            ex. Maecenas auctor feugiat nisl, in finibus mauris blandit a.
            In bibendum congue odio, sit amet ultricies massa rhoncus a.
            Vivamus posuere tempus libero at volutpat. Aliquam euismod nibh
            sit amet dignissim porta. Curabitur pellentesque hendrerit
            tristique. Morbi commodo tempus orci. Curabitur ligula magna,
            dapibus ut elit id, bibendum convallis libero. Nunc massa lorem,
            sagittis in porta in, condimentum mollis felis. Etiam pharetra ac
            justo id finibus. Suspendisse euismod eu ante in porta. Aenean
            consectetur dui ac nunc convallis mollis. Fusce vestibulum est
            vel erat vestibulum vestibulum.
          </p>
      </div>
      <div class="half">
        <img src="../../../assets/greece.jpg">
      </div>
    </div>  <!-- Entry 2 End -->

    <div class="entry">
      <div class="half">
        <img src="../../../assets/honolulu.jpg">
      </div>
      <div class="half">
          <h3>Honolulu</h3>
          <div class="break"></div>
          <p>
            Donec at risus non sem cursus molestie. Sed auctor, enim ut
            ullamcorper semper, sem mi rutrum leo, in fringilla lectus orci eu
            ex. Maecenas auctor feugiat nisl, in finibus mauris blandit a.
            In bibendum congue odio, sit amet ultricies massa rhoncus a.
            Vivamus posuere tempus libero at volutpat. Aliquam euismod nibh
            sit amet dignissim porta. Curabitur pellentesque hendrerit
            tristique. Morbi commodo tempus orci. Curabitur ligula magna,
            dapibus ut elit id, bibendum convallis libero. Nunc massa lorem,
            sagittis in porta in, condimentum mollis felis. Etiam pharetra ac
            justo id finibus. Suspendisse euismod eu ante in porta. Aenean
            consectetur dui ac nunc convallis mollis. Fusce vestibulum est
            vel erat vestibulum vestibulum.
          </p>
      </div>
    </div>  <!-- Entry 3 End -->

    <div class="entry">
      <div class="half">
          <h3>Iceland</h3>
          <div class="break"></div>
          <p>
            Donec at risus non sem cursus molestie. Sed auctor, enim ut
            ullamcorper semper, sem mi rutrum leo, in fringilla lectus orci eu
            ex. Maecenas auctor feugiat nisl, in finibus mauris blandit a.
            In bibendum congue odio, sit amet ultricies massa rhoncus a.
            Vivamus posuere tempus libero at volutpat. Aliquam euismod nibh
            sit amet dignissim porta. Curabitur pellentesque hendrerit
            tristique. Morbi commodo tempus orci. Curabitur ligula magna,
            dapibus ut elit id, bibendum convallis libero. Nunc massa lorem,
            sagittis in porta in, condimentum mollis felis. Etiam pharetra ac
            justo id finibus. Suspendisse euismod eu ante in porta. Aenean
            consectetur dui ac nunc convallis mollis. Fusce vestibulum est
            vel erat vestibulum vestibulum.
          </p>
      </div>
      <div class="half">
        <img src="../../../assets/iceland.jpg">
      </div>
    </div>  <!-- Entry 4 End -->

    <div class="entry">
      <div class="half">
        <img src="../../../assets/sydney.jpeg">
      </div>
      <div class="half">
          <h3>Sydney</h3>
          <div class="break"></div>
          <p>
            Donec at risus non sem cursus molestie. Sed auctor, enim ut
            ullamcorper semper, sem mi rutrum leo, in fringilla lectus orci eu
            ex. Maecenas auctor feugiat nisl, in finibus mauris blandit a.
            In bibendum congue odio, sit amet ultricies massa rhoncus a.
            Vivamus posuere tempus libero at volutpat. Aliquam euismod nibh
            sit amet dignissim porta. Curabitur pellentesque hendrerit
            tristique. Morbi commodo tempus orci. Curabitur ligula magna,
            dapibus ut elit id, bibendum convallis libero. Nunc massa lorem,
            sagittis in porta in, condimentum mollis felis. Etiam pharetra ac
            justo id finibus. Suspendisse euismod eu ante in porta. Aenean
            consectetur dui ac nunc convallis mollis. Fusce vestibulum est
            vel erat vestibulum vestibulum.
          </p>
      </div>
    </div>  <!-- Entry 5 End -->
  </div>
</div>
